nav{
    border: 1px solid #444444;
    text-align: right;
    height: 3em;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
nav {
    list-style: none;
}
nav a{
    text-decoration: none;
    padding: 10px;
    
    
}
