/*======================== GERAL =================================*/

body {
    font-family: 'Roboto' 'Encode Sans Condensed' sans-serif;
}

nav {
    background-color: #D2D7D3;
    height: 60px;
}


nav ul li a {
    color: #249991;
}

nav ul li a:hover {
    background-color: #249991;
    color: white;
    height: 50px;
}
